<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alticast.allso.let.cms.recv.service.impl.RecvMapper">
    
	<select id="selectRecords" parameterType="Map" resultType="egovMap">
		SELECT T.*
		  FROM (SELECT @RNUM := @RNUM + 1 AS RNUM, a.*
				FROM
					(
						SELECT INGEST_SEQ
						       , UPLOAD_TYPE
						       , CONTENT_TYPE
						       , CONTENT_TITLE
						       , CONTENT_FILENAME
						       , CONTENT_URL
						       , CAST(INGET_DATETIME AS CHAR) AS INGET_DATETIME
						  FROM tb_content_recv_log
						  WHERE 1=1
							<if test="ingestSeq != null and ingestSeq != ''">
								AND	INGEST_SEQ LIKE CONCAT('%', #{ingestSeq}, '%')
							</if>
							<if test="uploadType != null and uploadType != ''">
								AND	UPLOAD_TYPE LIKE CONCAT('%', #{uploadType}, '%')
							</if>
							<if test="contentType != null and contentType != ''">
								AND	CONTENT_TYPE LIKE CONCAT('%', #{contentType}, '%')
							</if>
							<if test="contentTitle != null and contentTitle != ''">
								AND	CONTENT_TITLE LIKE CONCAT('%', #{contentTitle}, '%')
							</if>
							<if test="ingetDatetime != null and ingetDatetime != ''">
								AND	INGET_DATETIME LIKE CONCAT('%', #{ingetDatetime}, '%')
							</if>
						ORDER BY INGEST_SEQ ASC
					) a, ( SELECT @RNUM := 0 ) b
				) T
		ORDER BY INGEST_SEQ DESC
		LIMIT #{searchVO.recordCountPerPage} OFFSET #{searchVO.firstIndex}		
	</select>
	
	<select id="selectRecordsTotCnt" parameterType="searchVO" resultType="int">
			SELECT COUNT(*) totcnt
			  FROM tb_content_recv_log
			  WHERE 1=1
				<if test="ingestSeq != null and ingestSeq != ''">
					AND	INGEST_SEQ LIKE CONCAT('%', #{ingestSeq}, '%')
				</if>
				<if test="uploadType != null and uploadType != ''">
					AND	UPLOAD_TYPE LIKE CONCAT('%', #{uploadType}, '%')
				</if>
				<if test="contentType != null and contentType != ''">
					AND	CONTENT_TYPE LIKE CONCAT('%', #{contentType}, '%')
				</if>
				<if test="contentTitle != null and contentTitle != ''">
					AND	CONTENT_TITLE LIKE CONCAT('%', #{contentTitle}, '%')
				</if>
				<if test="ingetDatetime != null and ingetDatetime != ''">
					AND	INGET_DATETIME LIKE CONCAT('%', #{ingetDatetime}, '%')
				</if>
	</select>	
	
	<select id="selectRecord" parameterType="Map" resultType="egovMap">
			SELECT
				*
			FROM tb_content_recv_log
			WHERE SERVICE_ID = #{serviceId}
	</select>

    <insert id="insertRecord" parameterType="Map">
       	<selectKey keyProperty="nextval" resultType="int" order="BEFORE">
       	    select ifnull(max(CAST(SERVICE_ID AS DECIMAL)), 0) + 1
			from tb_content_recv_log
       	</selectKey>
        INSERT INTO tb_content_recv_log 
        (`SERVICE_ID`, `SERVICE_NAME`, `MANAGER_NAME`, `MANAGER_TEL`, `MANAGER_EMAIL`, `SERVICE_IP`, `PERMISSION_KEY`, `CREATE_DATETIME`) 
        VALUES 
        (
			  LPAD(#{nextval}, 6, 0)
			, #{serviceName}
			, #{managerName}
			, #{managerTel}
			, #{managerEmail}
			, #{serviceIp}
			, #{permissionKey}        
			, NOW()        
        )
    </insert>
    
    <update id="updateRecord" parameterType="Map">
		UPDATE tb_content_recv_log
		   SET   SERVICE_NAME = #{serviceName}
		       , MANAGER_NAME = #{managerName}
		       , MANAGER_TEL = #{managerTel}
		       , MANAGER_EMAIL = #{managerEmail}
		       , SERVICE_IP = #{serviceIp}
		       , PERMISSION_KEY = #{permissionKey}
		WHERE  SERVICE_ID = #{serviceId}        
    </update>
    
    <delete id="deleteRecord" parameterType="Map">
		DELETE FROM tb_content_recv_log 
		WHERE  SERVICE_ID = #{serviceId}
    </delete>
    
</mapper>