<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alticast.allso.let.cms.transcode.service.impl.TranscodeMapper">
    
	<select id="selectRecords" parameterType="Map" resultType="egovMap">
		SELECT T.*
		  FROM (SELECT @RNUM := @RNUM + 1 AS RNUM, a.*
				FROM
					(
						SELECT TRANS_SEQ
						       , CONTENT_ID
						       , CONTENT_ID AS CONTENT_TITLE
						       , CAST(REQ_DATETIME AS CHAR) AS REQ_DATETIME
						       , TRANS_STATE
						       , (SELECT CONTENT FROM tb_cmmn_code_sub WHERE CMMN_CODE1 = 'TRANS_STATE' AND CMMN_CODE2 = TRANS_STATE) AS TRANS_STATE_TXT
						       , CAST(COMPLETE_DATETIME AS CHAR) AS COMPLETE_DATETIME
						  FROM tb_transcode_req_log
						  WHERE 1=1
						<if test="transSeq != null and transSeq != ''">
							AND	TRANS_SEQ LIKE CONCAT('%', #{transSeq}, '%')
						</if>
						<if test="contentId != null and contentId != ''">
							AND	CONTENT_ID LIKE CONCAT('%', #{contentId}, '%')
						</if>
						<if test="contentTitle != null and contentTitle != ''">
							AND	CONTENT_TITLE LIKE CONCAT('%', #{contentTitle}, '%')
						</if>
						<if test="reqDatetime != null and reqDatetime != ''">
							AND	REQ_DATETIME LIKE CONCAT('%', #{reqDatetime}, '%')
						</if>
						<if test="transState != null and transState != ''">
							AND	TRANS_STATE LIKE CONCAT('%', #{transState}, '%')
						</if>
						<if test="completeDatetime != null and completeDatetime != ''">
							AND	COMPLETE_DATETIME LIKE CONCAT('%', #{completeDatetime}, '%')
						</if>
						ORDER BY TRANS_SEQ ASC
					) a, ( SELECT @RNUM := 0 ) b
				) T
		ORDER BY TRANS_SEQ DESC
		LIMIT #{searchVO.recordCountPerPage} OFFSET #{searchVO.firstIndex}		
	</select>
	
	<select id="selectRecordsTotCnt" parameterType="searchVO" resultType="int">
			SELECT COUNT(*) totcnt
			  FROM tb_transcode_req_log
			  WHERE 1=1
				<if test="transSeq != null and transSeq != ''">
					AND	TRANS_SEQ LIKE CONCAT('%', #{transSeq}, '%')
				</if>
				<if test="contentId != null and contentId != ''">
					AND	CONTENT_ID LIKE CONCAT('%', #{contentId}, '%')
				</if>
				<if test="contentTitle != null and contentTitle != ''">
					AND	CONTENT_TITLE LIKE CONCAT('%', #{contentTitle}, '%')
				</if>				
				<if test="reqDatetime != null and reqDatetime != ''">
					AND	REQ_DATETIME LIKE CONCAT('%', #{reqDatetime}, '%')
				</if>
				<if test="transState != null and transState != ''">
					AND	TRANS_STATE LIKE CONCAT('%', #{transState}, '%')
				</if>
				<if test="completeDatetime != null and completeDatetime != ''">
					AND	COMPLETE_DATETIME LIKE CONCAT('%', #{completeDatetime}, '%')
				</if>
	</select>	
	
	<select id="selectRecord" parameterType="Map" resultType="egovMap">
			SELECT TRANS_SEQ
			       , CONTENT_ID
			       , CONTENT_ID AS CONTENT_TITLE
			       , CAST(REQ_DATETIME AS CHAR) AS REQ_DATETIME
			       , TRANS_STATE
			       , (SELECT CONTENT FROM tb_cmmn_code_sub WHERE CMMN_CODE1 = 'TRANS_STATE' AND CMMN_CODE2 = TRANS_STATE) AS TRANS_STATE_TXT
			       , CAST(COMPLETE_DATETIME AS CHAR) AS COMPLETE_DATETIME	    
			FROM tb_transcode_req_log
			WHERE TRANS_SEQ = #{transSeq}
	</select>

    <insert id="insertRecord" parameterType="Map">
    </insert>
    
    <update id="updateRecord" parameterType="Map">
-- 다른테이블 업데이트하는 것인지 정의 필요
    </update>
    
    <delete id="deleteRecord" parameterType="Map">
    </delete>
    
</mapper>