<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alticast.allso.let.openapi.service.impl.OpenapiMapper">
    
	<select id="selectSites" parameterType="Map" resultType="egovMap">
			SELECT
				*
			FROM tb_service_site
	</select>
	
	<select id="selectSite" parameterType="Map" resultType="egovMap">
			SELECT
				*
			FROM tb_service_site
			WHERE SERVICE_ID = #{serviceId}
	</select>

    <insert id="insertSite" parameterType="Map">
        INSERT INTO tb_service_site 
        (`SERVICE_ID`, `SERVICE_NAME`, `MANAGER_NAME`, `MANAGER_TEL`, `MANAGER_EMAIL`, `SERVICE_IP`, `PERMISSION_KEY`) 
        VALUES 
        (
		  #{serviceId}
		, #{serviceName}
		, #{managerName}
		, #{managerTel}
		, #{managerEmail}
		, #{serviceIp}
		, #{permissionKey}        
        )
    </insert>
    
    <update id="updateSite" parameterType="Map">
		UPDATE `social`.`tb_service_site` SET `MANAGER_NAME`= #{serviceName} WHERE  `SERVICE_ID`= #{serviceId}
    </update>
    
    <delete id="deleteSite" parameterType="Map">
		DELETE FROM tb_service_site WHERE  SERVICE_ID = #{serviceId}
    </delete>
    
</mapper>